:root {
  --skin: #ffc49c;
  --nose: #ec9164;
  --mouth: #ec9164;
  --glasses: #7a4840;
  --hair: #2d1002;
  --eye: #2d1002;
  --birthmark: #7a4840;
  --body: #9f64bb;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 10px auto;
  width: 241px;
  height: 352px;
}

.face {
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 36px;
  width: 168px;
  height: 212px;
  background: var(--skin);
  border-radius: 100px;
}

.hair {
  position: absolute;
  z-index: -1;
  width: 240px;
  height: 300px;
  background: var(--hair);
  border-radius: 100% 100% 25% 25% / 100% 100% 80% 80%;
}

.hair:before {
  position: absolute;
  content: '';
  top: 260px;
  width: 240px;
  height: 50px;
  background: #fff;
  border-radius: 35%;
}

.ear {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 15px;
  width: 30px;
  height: 32px;
  background: var(--skin);
  border-radius: 100%;
}

.ear.right {
  left: 195px;
}

.bangs {
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 80px;
  width: 135px;
  height: 104px;
  background: var(--hair);
  border-radius: 0 50% 0% 100%;
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

.bangs.left {
  position: absolute;
  top: 40px;
  left: -95px;
  width: 128px;
  height: 53px;
  background: var(--hair);
  border-radius: 50%;
  -webkit-transform: rotate(118deg);
  -ms-transform: rotate(118deg);
  transform: rotate(118deg);
}

.eyebrow {
  position: absolute;
  z-index: 1;
  top: 71px;
  left: 24px;
  width: 24px;
  height: 4px;
  background: var(--hair);
}

.eyebrow.right {
  position: absolute;
  top: 0;
  left: 96px;
}

.eye {
  position: absolute;
  z-index: 1;
  top: 95px;
  left: 28px;
  width: 16px;
  height: 20px;
  background: var(--eye);
  border-radius: 100%;
}

.eye.right {
  position: absolute;
  top: 0;
  left: 96px;
}

.nose {
  position: absolute;
  z-index: 1;
  top: 121px;
  left: 77px;
  width: 10px;
  height: 15px;
  border: 4px solid;
  border-radius: 10%;
  border-color: var(--nose) var(--nose) transparent transparent;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.mouth {
  position: absolute;
  top: 142px;
  left: 62px;
  width: 36px;
  height: 36px;
  border: 4px solid;
  border-radius: 100%;
  border-color: transparent transparent var(--mouth) var(--mouth);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.birthmark {
  position: absolute;
  top: 185px;
  left: 103px;
  width: 6px;
  height: 6px;
  background: var(--birthmark);
  border-radius: 100%;
}

.neck {
  position: absolute;
  z-index: 0;
  top: 230px;
  left: 102px;
  width: 36px;
  height: 55px;
  background: var(--skin);
  border-radius: 0% 0% 100% 100% / 100% 100% 50% 50%;
}

.body {
  position: absolute;
  z-index: -1;
  top: 260px;
  left: 42px;
  width: 156px;
  height: 91px;
  background: var(--body);
  border-radius: 80px 80px 0px 0px;
}

.glasses {
  position: absolute;
  z-index: 2;
  top: 130px;
  left: 34px;
  width: 63px;
  height: 35px;
  border: 4px solid var(--glasses);
  border-radius: 0% 0% 30% 30%;
}

.glasses.right {
  position: absolute;
  top: -4px;
  left: 97px;
}

.glasses-rim {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 63px;
  width: 34px;
  height: 4px;
  background: var(--glasses);
}