:root {
  --skin: #f7bd95;
  --skin2: #e99173;
  --skin3: #de7f66;
  --brown: #25140d;
  --brown2: #8a5146;
  --purple: #836690;
  --black: #000;
  --bg: #ffddde;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: var(--bg);
}

#container {
  width: 25rem;
  height: 21rem;
}

.portrait {
  position: relative;
}
.portrait .self {
  position: absolute;
  left: 4.25rem;
  background: var(--brown);
}
.portrait .self * {
  position: absolute;
}
.portrait .self::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 3.5rem;
  left: -1rem;
  width: 8.9rem;
  height: 3.25rem;
  background: inherit;
  border-radius: 20% 50% 0% 80%;
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
.portrait .self::after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 1rem;
  left: 6rem;
  width: 8.25rem;
  height: 7.25rem;
  background: inherit;
  border-radius: 0% 100% 0% 80%;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}
.portrait .hair {
  z-index: -1;
  width: 16rem;
  height: 18rem;
  background: var(--brown);
  border-radius: 60% 60% 30% 30%;
}
.portrait .hair::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 16.5rem;
  left: 2.25rem;
  width: 11.5rem;
  height: 2.5rem;
  background: var(--bg);
  border-radius: 50%;
}
.portrait .hair::after {
  position: absolute;
  content: "";
  top: 8rem;
  left: 2rem;
  width: 12rem;
  height: 10.5rem;
  background: var(--black);
  border-radius: 0% 0% 20% 20%;
}
.portrait .head {
  top: 2.325rem;
  left: 2rem;
  width: 12rem;
  height: 14rem;
  background: var(--skin);
  border-radius: 50%;
}
.portrait .head::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 7rem;
  left: -1rem;
  width: 2rem;
  height: 2.5rem;
  background: var(--skin);
  border-radius: 50% 0% 0% 50%;
}
.portrait .head::after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 7rem;
  left: 11rem;
  width: 2rem;
  height: 2.5rem;
  background: var(--skin);
  border-radius: 0% 50% 50% 0%;
}
.portrait .head .face {
  z-index: 1;
  top: 6.125rem;
  left: 2.85rem;
}
.portrait .head .face::before {
  position: absolute;
  content: "";
  top: -1.75rem;
  left: -0.75rem;
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid;
  border-color: transparent transparent var(--brown) var(--brown);
  border-radius: 50% 2.5rem;
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg);
}
.portrait .head .face::after {
  position: absolute;
  content: "";
  top: -1.75rem;
  left: 5rem;
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid;
  border-color: transparent transparent var(--brown) var(--brown);
  border-radius: 50% 2.5rem;
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg);
}
.portrait .head .face .nose {
  top: 2rem;
  left: 2.85rem;
  width: 1rem;
  height: 1.25rem;
  border: 0.25rem solid;
  border-color: transparent transparent var(--skin3) var(--skin3);
  -webkit-transform: rotate(38deg);
  transform: rotate(38deg);
}
.portrait .head .face .eyes {
  top: 0.25rem;
  left: -0.25rem;
  width: 1.125rem;
  height: 1.45rem;
  background: var(--brown);
  border-radius: 50%;
}
.portrait .head .face .eyes::before {
  position: absolute;
  content: "";
  left: 5.625rem;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
}
.portrait .head .face .mouth {
  top: 4rem;
  left: 2rem;
  width: 2.25rem;
  height: 2.25rem;
  border: 0.25rem solid;
  border-color: transparent transparent var(--skin3) var(--skin3);
  border-radius: 50% 5rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.portrait .head .face .mouth::before {
  position: absolute;
  content: "";
  top: 2.5rem;
  left: 0.75rem;
  width: 0.35rem;
  height: 0.35rem;
  background: var(--brown2);
  border-radius: 50%;
}
.portrait .head .face .mouth::after {
  position: absolute;
  content: "";
  top: 0.85rem;
  left: 8rem;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 0% 100%;
  background: var(--brown);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.portrait .head .glasses {
  z-index: 2;
  top: 5.8rem;
  width: 5.25rem;
  height: 2.85rem;
  border: 0.25rem solid var(--brown2);
  border-radius: 30%;
}
.portrait .head .glasses::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  left: 6.5rem;
  width: inherit;
  height: inherit;
  border: 0.25rem solid var(--brown2);
  border-radius: inherit;
}
.portrait .head .glasses::after {
  position: absolute;
  content: "";
  top: 1rem;
  left: 5rem;
  width: 1.5rem;
  border: 0.125rem solid var(--brown2);
}
.portrait .neck {
  z-index: 0;
  top: 15.75rem;
  left: 6.75rem;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--skin2);
  border-radius: 0% 0% 40% 40%;
}
.portrait .body {
  z-index: -1;
  top: 16.95rem;
  left: 3rem;
  width: 10rem;
  height: 4rem;
  background: var(--purple);
  border-radius: 5rem 5rem 0% 0%;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
